<a href="https://colab.research.google.com/github/fireboy12901/fireboy12901/blob/main/assignemnt4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
names = ["Tyler", "Sydny", "Isabella", "Jake"] #Try it yourself 3.1
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Tyler
Sydny
Isabella
Jake

In [3]:
names = ["Tyler", "Sydny", "Isabella", "Jake"] #Try it yourself 3.2
print("Hello " + names[0])
print("Hello " + names[1])
print("Hello " + names[2])
print("Hello " + names[3])

Hello Tyler
Hello Sydny
Hello Isabella
Hello Jake

In [4]:
transportation_mode = ["Ford Truck", "Audi Car", "Trek Motorcycle"] #Try it yourself 3.3
print("I would like to own a " + transportation_mode[0] + ".")
print("I would like to own a " + transportation_mode[1] + ".")
print("I would like to own a " + transportation_mode[2] + ".")

I would like to own a Ford Truck.
I would like to own a Audi Car.
I would like to own a Trek Motorcycle.

In [5]:
guests = ["Tyler Baker", "Sydney Barnett", "Isabella Miller"] #Try it yourself 3.4
print("Hello " + guests[0] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[1] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[2] + ", I am inviting you to dinner with me and a few of our friends")

Hello Tyler Baker, I am inviting you to dinner with me and a few of our friends
Hello Sydney Barnett, I am inviting you to dinner with me and a few of our friends
Hello Isabella Miller, I am inviting you to dinner with me and a few of our friends

In [11]:
guests = ["Tyler Baker", "Sydney Barnett", "Isabella Miller"] #Try it yourself 3.5
print("Sadly, " + guests[0] + " can not make it to the dinner")
guests.remove("Tyler Baker")
guests.append("Samuel LaBombard")
print("Hello " + guests[0] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[1] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[2] + ", I am inviting you to dinner with me and a few of our friends")

Sadly, Tyler Baker can not make it to the dinner
Hello Sydney Barnett, I am inviting you to dinner with me and a few of our friends
Hello Isabella Miller, I am inviting you to dinner with me and a few of our friends
Hello Samuel LaBombard, I am inviting you to dinner with me and a few of our friends

In [10]:
guests = ['Sydney Barnett', 'Isabella Miller', 'Samuel LaBombard'] #Try it yourself 3.6
print("Good news, I found a bigger table")
guests.insert(1, "Jace Lacey")
guests.insert(3, "Jake Calkins")
guests.append("Gregory Olbert")
print("Hello " + guests[0] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[1] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[2] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[3] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[4] + ", I am inviting you to dinner with me and a few of our friends")
print("Hello " + guests[5] + ", I am inviting you to dinner with me and a few of our friends")

Good news, I found a bigger table
Hello Sydney Barnett, I am inviting you to dinner with me and a few of our friends
Hello Jace Lacey, I am inviting you to dinner with me and a few of our friends
Hello Isabella Miller, I am inviting you to dinner with me and a few of our friends
Hello Jake Calkins, I am inviting you to dinner with me and a few of our friends
Hello Samuel LaBombard, I am inviting you to dinner with me and a few of our friends
Hello Gregory Olbert, I am inviting you to dinner with me and a few of our friends

In [14]:
from ast import Delete
guests = ['Sydney Barnett', 'Jace Lacey', 'Isabella Miller', 'Jake Calkins', 'Samuel LaBombard', 'Gregory Olbert'] #Try it yourself 3.7
print("Sadly the table will not make it in time. I can only invite 2 of you now.")
removed_guests = guests.pop()
print("Sorry " + removed_guests + " you can't come anymore")
removed_guests = guests.pop()
print("Sorry " + removed_guests + " you can't come anymore")
removed_guests = guests.pop()
print("Sorry " + removed_guests + " you can't come anymore")
removed_guests = guests.pop()
print("Sorry " + removed_guests + " you can't come anymore")
print(guests[0] + " you are still invited")
print(guests[1] + " you are still invited")
del(guests[0])
del(guests[0])
print(guests)

Sadly the table will not make it in time. I can only invite 2 of you now.
Sorry Gregory Olbert you can't come anymore
Sorry Samuel LaBombard you can't come anymore
Sorry Jake Calkins you can't come anymore
Sorry Isabella Miller you can't come anymore
Sydney Barnett you are still invited
Jace Lacey you are still invited
[]

In [22]:
places_to_see = ["Paris", "Egypt", "England", "Greece", "Rome"] #Try it yourself 3.8
print(places_to_see)
print(sorted(places_to_see))
print(places_to_see)
places_to_see.reverse()
print(places_to_see)
places_to_see.reverse()
print(places_to_see)
places_to_see.sort()
print(places_to_see)
places_to_see.reverse()
print(places_to_see)

['Paris', 'Egypt', 'England', 'Greece', 'Rome']
['Egypt', 'England', 'Greece', 'Paris', 'Rome']
['Paris', 'Egypt', 'England', 'Greece', 'Rome']
['Rome', 'Greece', 'England', 'Egypt', 'Paris']
['Paris', 'Egypt', 'England', 'Greece', 'Rome']
['Egypt', 'England', 'Greece', 'Paris', 'Rome']
['Rome', 'Paris', 'Greece', 'England', 'Egypt']

In [24]:
guests = ['Sydney Barnett', 'Jace Lacey', 'Isabella Miller', 'Jake Calkins', 'Samuel LaBombard', 'Gregory Olbert'] #Try it yourself 3.9
print("I am inviting " + str(len(guests)) + " people to dinner" )

I am inviting 6 people to dinner

In [30]:
mountains = ["Andes", "Himalayas", "Atlas", "Dolomites", "Rocky Mountains", "Sierra Nevada", "Southern Alps", "Western Alps"] #Try It yourself 3.10
print(mountains)
mountains.reverse()
print(mountains)
mountains.sort()
print(mountains)
mountains.append("blah")
print(mountains)
mountains.pop()
print(mountains)
mountains.remove("Andes")
print(mountains)
del mountains[0]
print(mountains)

['Andes', 'Himalayas', 'Atlas', 'Dolomites', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps']
['Western Alps', 'Southern Alps', 'Sierra Nevada', 'Rocky Mountains', 'Dolomites', 'Atlas', 'Himalayas', 'Andes']
['Andes', 'Atlas', 'Dolomites', 'Himalayas', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps']
['Andes', 'Atlas', 'Dolomites', 'Himalayas', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps', 'blah']
['Andes', 'Atlas', 'Dolomites', 'Himalayas', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps']
['Atlas', 'Dolomites', 'Himalayas', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps']
['Dolomites', 'Himalayas', 'Rocky Mountains', 'Sierra Nevada', 'Southern Alps', 'Western Alps']

In [40]:
numbers = []
cubes = []
for i in range(26):
  if((i + 60) %7 ==0):
    numbers.append(i + 60)
for i in range(len(numbers)):
  cubes.append(numbers[i] **3)
for i in range(len(numbers)):
  print("The cube of " + str(numbers[i]) + " is " + str(cubes[i]) + ".")

The cube of 63 is 250047.
The cube of 70 is 343000.
The cube of 77 is 456533.
The cube of 84 is 592704.

In [43]:
numbers = [40, 50, 120, -8, 6]
for i in range(len(numbers)):
  print(round(7.4 * numbers[i] + 5.1, 4))

301.1
375.1
893.1
-54.1
49.5